.wrapper{
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
.heder{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.41);
}
.heder-nav{
    display: flex;
    padding: 18px 79px 0px;
} 
.nav-icon-list{
    display: flex;
    width: 126px;
    justify-content: space-between;
    margin-right: 20px;
}
.heder-logo{
    padding: 18px 79px;
    padding-right: 0px;
}
.text-1{
    color: white;
}
.text-link{
    text-decoration: none;
    color: white;
}
.text-link :hover{
 color: green;
}
svg:hover path {
  transition-duration: 1s;
    fill: green }/* Кінцевий колір при наведенні */

.content-conteiner{
    background-color: white;
    width: 444px;
    height: 584px;
margin:auto ;
position: relative;
}
.conteiner{
    margin: 32px 60px 38px 60px;
    padding-top: 32px;
}
.signup-login::before {
    content: ''; /* Обязательное свойство для псевдоэлемента */
    position: absolute; /* Позиционирование относительно родительского элемента */
    top: 29px;
    left: 0;
    width: 18px; /* Ширина квадратика */
    height: 18px; /* Высота квадратика */
    background-color:#3CB878 ;
}
.signup{
    color: #434343;
text-align: center;
font-size: 20px;
line-height: 20px; 
}
.signup-login{
    display: flex;
  justify-content: space-between;
}
.login{
color:#3CB878 ;
line-height: 14px;
} 
.login:hover{
text-decoration: underline;
}
.link{
    color: #434343;
    text-decoration: none;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btn-f{
    width: 160px;
    background-color:#305DB8 ;
    border: 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: white;
}
.btn-f:hover{
background-color: #022263;
transition-duration: 2s;
}
.btn-google {
    width: 160px;
    display: flex;
align-items: center;
    background-color: #DB4437; /* Колір фону кнопки (червоний) */
    color: white; /* Колір тексту */
    padding-left: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-google:hover {
    transition-duration: 2s;
    background-color:  #AB1F09;; /* Колір фону при наведенні (синій) */
}

.svg {
    width: 30px; /* Розмір зображення */
    height: 19px;
    padding-right: 13px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 10px; /* Відступ між зображенням і текстом */
}
.google{
  margin: auto;
  font-size: 16px;
font-weight: 400;
line-height: 16px;
}
.facebook{
    margin: auto;
    font-size: 16px;
font-weight: 400;
line-height: 16px;
}
.line-with-text {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    text-align: center;
    margin: auto;
    margin-top: 35px; /* Center vertically (if the container has a height) */
}

.line-with-text::before,
.line-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #F2F2F2; /* Line style */
    margin: 0 8px; /* Adjust the distance between the line and text */
}
.content {
    color: #848484;
}
.forms{
  padding-top: 5px;
}
input{
    width: 100%;
    height: 46px;
margin-bottom: 15px;
padding-left: 19px;
border: 1px solid #F2F2F2;
outline: none;
}
form:hover{
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
.checkbox-container{
  margin-top: 3px;
  color: #434343;
  font-size: 14px;
line-height: 14px;
}
.text_1{
    color: #01813F;
}
.text_1:hover{
    text-decoration: underline;
}
button{
width: 100%;
height: 46px;
color: white;
background-color: rgba(60, 184, 120, 0.80); 
border: 0px;
border-radius: 4px;
font-size: 16px;
margin-top: 10px;
}
button:hover{
background-color:#01813F; 
transition-duration: 2s;
}
label {
    display: flex;
    color: black;
}

input[type="checkbox"] {
    margin-right: 5px; 
    height: 14px;
    width: 14px;
}
.label {
}
.checkbox {
    display: none;
}
.fake {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    position: relative;
}
.fake::before{
    content: "";
    height: 15px;
    background-image: ;
    width: 15.5px;
    position: absolute;
    background-image: url(Vector\ 1.svg);
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .2s;
    transform: translate(-50%, -50%);
}
.checkbox:checked + .fake::before{
opacity: 1;
}
.text_1{
   margin-left: 5px;
}

